Linkdein name collect .json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1d315949-a10d-423e-96b5-4de659627a61",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.query) }}\nParse the JSON 'query' and output the following parameters separately: \n\njobTitle\ncompanyIndustry\nlocation",
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "90d4d2a0-13a9-4ee4-8dbd-91765179e7db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        140,
        200
      ],
      "id": "594df916-2380-4753-9d93-ed88e2b82260",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CB7hRngOKGgxBDW0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"jobTitle\": \"CEO\",\n  \"companyIndustry\": \"Real estate\",\n  \"location\": \"Dhaka\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "id": "0b8a5d61-6a17-46b9-9a20-1b017982804b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {
          "google_domain": "google.com"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        820,
        200
      ],
      "id": "de94e13d-eb47-4d13-a1e6-fbe4133cee7c",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "QyQ432P2dCkdSKMs",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=google.com/search\nsite:linkedin.com/in/ \n {{ $json.output.jobTitle }} {{ $json.output.companyIndustry }} {{ $json.output.location }} ;",
        "options": {
          "systemMessage": "=Only Need,\n{{ $json.output.jobTitle }},\n{{ $json.output.jobTitle }}, {{ $json.output.location }}\n\n----\nNaver add instructions or any other info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        620,
        0
      ],
      "id": "cd230a9c-0c4b-49e2-bc4d-d339477f2a4d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "id": "17fc9899-5f11-433c-9e73-34d82fbf422a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CB7hRngOKGgxBDW0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "jobTitle+CEO&companyIndustry=Real estate&location=Dhaka&"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5868ecb2-2a72-47e7-9a74-9bcf730c6bd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "803654d32c22ac1d3cbaf1ee2ed2bde97f9cba332ac43e117178c659ed22a8e4"
  },
  "id": "eyM8oEY9biYUeidx",
  "tags": []
}
